.cartItem {
  display: block;
  width: auto;
  background-color: #ffffff !important;
  border-bottom: 2px solid #fafafa;
  margin: 0 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__name {
    font-family: "Alfa Slab One", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  &__size {
    font-family: "Montserrat", sans-serif !important;
    color: #6d6d6d;
  }
  &__infor {
    width: 320px;
  }
  &__price {
    width: 64px;
  }
  &__quantity {
    // width: 120px !important ;
    display: flex;
    align-items: center;
  }
  &__btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: #ccc;
    width: 30px;
    height: 30px;
  }
  &__total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    font-family: "Montserrat", sans-serif !important;
    &_title {
      font-size: 13px;
    }
    &_price {
      font-size: 14px;
      font-weight: 600;
      margin: 4px;
    }
  }
  &__del {
    margin: 4px;
  }
}
