.search {
  &__wrapper {
    font-family: "Montserrat", sans-serif;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__input {
    margin: 16px 0;
  }
  &__item {
    border-bottom: 3px solid #000;
    width: 100%;
    height: 320px;
    padding-bottom: 32px;
  }
}
